.global-report
    display: flex
    flex-direction: column

.report-block
    margin: 1px
    padding: 2px
    .meter
        display: flex
        justify-content: space-between
        &:nth-child(even)
            background-color: $light-color
        p
            text-align: right
            &:first-of-type
                text-align: left
            &:nth-child(n+1)
                flex-basis: 19%
            &:nth-child(1)
                flex-basis: 24%
    .month-details
        &-header
            display: flex
            margin-bottom: 3px
            p
                flex-grow: 1
        .payment
            border: 3px solid rgb(255,255,255)
            cursor: pointer
            margin: .2em
            padding: .2em
            &.selected
                border: 3px solid $active-color
                border-radius: 3px
            .total
                display: flex
                justify-content: space-between
        .compare-bar
            border-top: 1px solid black
            .neg
                background-color: rgb(246, 197, 197)
            .pos
                background-color: rgb(208, 247, 214)
    .button
        @include button
        width: 2em
        &.selected
            background-color: $active-color
            color: white
        &.year-button
            width: 3em
        &.the-only-one-button
            width: 100%
            padding: .5em
    .action-button
        margin-left: 3px